:root {
    /* LIGHT MODE */

    /* BACKGROUND */
    --bg-primary: #fffcfb; /* Warm paper white */
    --bg-secondary: #eefbf8; /* Soft Mint/Sage tint */

    /* TEXT *//* TEXT */
    --text-primary: #000000; /* Very dark forest green */
    --text-secondary: #64748b; /* Neutral Slate */

    /* BUTTONS */
    --button-bg-primary: #f43f5e;
    --button-text-primary: #ffffff;

    --button-bg-secondary: #d3faec; /* Pale Mint */
    --button-text-secondary: #065f46; /* Deep Emerald */

    /* ANCHORS */
    --anchor-text: #4338ca;
    --anchor-text-visited: #9927db;

    /* OTHER */
    --shadow: rgba(0, 0, 0, 0.3);
}

:root.dark-mode {
    /* DARK MODE */

    /* BACKGROUND */
    --bg-primary: #0f172a;
    --bg-secondary: #233045;

    /* TEXT */
    --text-primary: #f8fafc;
    --text-secondary: #94a3b8;

    /* BUTTONS */
    --button-bg-primary: #f43f5e;
    --button-text-primary: #ffffff;

    --button-bg-secondary: #647081;
    --button-text-secondary: #f1f5f9;

    /* ANCHORS */
    --anchor-text: #7885d2;
    --anchor-text-visited: #ab83d6;
}

.secondary, .secondary-bg {
    background-color: var(--bg-secondary);
}

.secondary, .secondary-text {
    color: var(--text-secondary);
}

body {
    background-color: var(--bg-primary);
    color: var(--text-primary);

    border-color: var(--text-primary);
}

button,
input[type="submit"] {
    background-color: var(--button-bg-primary);
    color: var(--button-text-primary);

    border: 2px solid var(--text-primary);
    font-weight: 600;
}

button.secondary,
input[type="submit"].secondary {
    background-color: var(--button-bg-secondary);
    color: var(--button-text-secondary);

    border: 2px solid var(--text-secondary);
}

button:disabled {
    opacity: 0.5 !important;
}

a {
    color: var(--anchor-text);
}

a:visited {
    color: var(--anchor-text-visited);
}

svg {
    fill: white;
    stroke: black;
    stroke-width: 1px;
}
