:root {
    /* Light Mode Defaults */
    /* Background */
    --bg-primary: #ffffff;
    --bg-secondary: #f1f5f9;

    /* Text */
    --text-primary: #1e293b;
    --text-secondary: #64748b;

    /* Buttons */
    --button-bg-primary: #4f46e5;
    --button-text-primary: #ffffff;

    --button-bg-secondary: #e2e8f0;
    --button-text-secondary: #0f172a;

    --animation-time: 200ms;
}

body {
    background-color: var(--bg-primary);
    color: var(--text-primary);

    transition:
        background-color 0.3s var(--animation-time),
        color 0.3s var(--animation-time);
}

body.dark-mode {
    /* Dark Mode */
    --bg-primary: #0f172a;
    --bg-secondary: #1e293b;
    
    --text-primary: #f8fafc;
    --text-secondary: #94a3b8;

    --button-bg-primary: #6366f1;
    --button-text-primary: #ffffff;

    --button-bg-secondary: #334155;
    --button-text-secondary: #f1f5f9;
}